<div class="card card-warning">
    <div class="card-header">
        <h3 class="card-title">General Elements of page: <?=$Obj->id?></h3>
    </div>
    <div class="card-body">
        <?php if(get_class($Obj) == 'Page'){
            ?>
        <form method="POST" action="">
            <input type="hidden" name="action" value="1" />
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" value="<?=$Obj->title ?? $Obj->name?>" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Content</label>
                        <input type="text" class="form-control" name="content"
                            value="<?=$Obj->content ?? $Obj->username?>" />
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <?php }else{ ?>
        <form method="POST" action="">
            <input type="hidden" name="action" value="1" />
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name" value="<?=$Obj->name?>" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username" value="<?=$Obj->username?>" />
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <?php } ?>
    </div>

</div>